{% block title %}
    <title>成绩查询</title>{% endblock title %} {% extends 'base.html' %} {% block content %}
    <div class="maincontent" style="background-color:rgb(240, 240, 240);height:83%;">
        <div class="content" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <input class="ltextbox col-md-12 col-sm-12 col-xs-12" id="logn" name="logn" type="text"
                           placeholder="请输入" required>
                </div>
                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>已选学生学号</th>
                        <th>姓名</th>
                        <th>学生成绩</th>
                    </tr>
                    {% for i in data %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}