{% block title %}
<title>学生选课</title>{% endblock title %} {% extends 'base.html' %} {% block content %}
<div class="maincontent" style="background-color:rgb(240, 240, 240);height:83%;">
    <div class="content" id="home">
        <el-transfer filterable :filter-method="filterMethod" filter-placeholder="请输入城市拼音" v-model="value" :data="data">
        </el-transfer>
        <div class="bigbox" style="height:100%;width:100%;">
            <div class="flyboxA" style="float:left;overflow:scroll;height:100%;width:30%;background:rgb(107, 252, 208);margin-right:5px;"></div>
            <div class="flyboxB" style="float:right;overflow:scroll;height:100%;width:68%;background:rgb(125, 181, 255);"></div>
        </div>
    </div>
</div>
{% endblock content %}
<script>
    el: '#app',
        data: {
            message: '123123131321313',
            const generateData = _ => {
                const data = [];
                const cities = ['上海', '北京', '广州', '深圳', '南京', '西安', '成都'];
                const pinyin = ['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'nanjing', 'xian', 'chengdu'];
                cities.forEach((city, index) => {
                    data.push({
                        label: city,
                        key: index,
                        pinyin: pinyin[index]
                    });
                });
                return data;
            };
            return {
                data: generateData(),
                value: [],
                filterMethod(query, item) {
                    return item.pinyin.indexOf(query) > -1;
                }
            };
        }
</script>