{% block title %}
<title>成绩查询</title>{% endblock title %} {% extends 'base.html' %} {% block content %}
    <div class="maincontent" style="background-color:rgb(240, 240, 240);height:83%;">
        <div class="content" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>

                <!-- Table -->
                <table class="table">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi sleo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}